<div data-role="header" data-position="fixed" data-tap-toggle="false">
  <a href="#search">back</a>
  <h1>watchQ first try</h1>
</div>

<div data-role="content">
  <h3><%= movie.get("title") %></h3>

  <img src="<%= config.serviceUrl %><%= movie.get('posterLarge') %>" />

  <p><%= movie.get("director") || "No Director" %> (<%= movie.get("year") %>)</h3>
  <p><%= movie.get('synopsis') %></p>
  <p><%= movie.get('critics') %></p>
  <p><%= movie.get('cast') %></p>

  <div class="q-switch">
    <select id="switchQ" name="flip-min" data-role="slider">
      <option value="off">add to Q</option>
      <option value="on">remove from Q</option>
    </select>
  </div>
</div>

<div data-role="footer" data-position="fixed" data-tap-toggle="false">
  <div data-role="navbar">
    <ul>
      <li><a href="#search" id="navSearch">search</a></li>
      <li><a href="#queue" id="navQ">Q</a></li>
      <li><a href="#info" id="navInfo">Info</a></li>
    </ul>
  </div>
</div>
