<div data-role="header" data-position="fixed">
  <a href="#search">back</a>
  <h1>watchQ first try</h1>
</div>

<div data-role="content">
  <h3><%= movie.get("title") %></h3>

  <img src="http://192.168.252.48:3000<%= movie.get('posterLarge') %>" />

  <p><%= movie.get("director") || "No Director" %> (<%= movie.get("year") %>)</h3>
  <p><%= movie.get('synopsis') %></p>
  <p><%= movie.get('critics') %></p>
  <p><%= movie.get('cast') %></p>

  <div class="q-switch">
    <select id="switchQ" name="flip-min" data-role="slider">
      <option value="off">add to Q</option>
      <option value="on">remove from Q</option>
    </select>
  </div>
</div>

<div data-role="footer" data-position="fixed">
  asf
</div>
