<div data-role="header" data-position="fixed">
  <h1>watchQ (<%= moviesCount %>)</h1>
</div>

<div data-role="content">
  <div>
    <input id="txtSearch" type="text" />
  </div>
  <br />
  <ul id="list" data-role="listview" data-split-icon="gear"></ul>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#search" id="navSearch">search</a></li>
      <li><a href="#queue" id="navQ">Q</a></li>
      <li><a href="#info" id="navInfo">Info</a></li>
    </ul>
  </div>
</div>
